* {
    font-size: 18px;
    color: gray;
}


#navbarTogglerDemo02 ul li a:hover {
    color: #EE900E;
}

header {
    background: url(../fotos/1024x400.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 56vh;
    margin-bottom: 10px;
}

/* #section-app {
    background-color: rgb(116, 112, 112);
} */

