* {
    font-size: 18px;
    color: gray;
}


#navbarTogglerDemo02 ul li a:hover {
    color: #EE900E;
}

header {
    background: url(../fotos/1024x400.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 56vh;
    margin-bottom: 10px;
}

.telas-app {
    display: flex;
    justify-content: center;
    text-align: center;
}

#f1_container {
    position: relative;
    margin: 10px auto;
    width: 500px;
    height: 325px;
    z-index: 1;
}
#f1_container {
    perspective: 1000;
}
#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
    transform: rotateY(180deg);
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;
}
